/* style.css */

body {
  margin: 0;
  font-family: sans-serif;
}

/* ヘッダーのスタイル */
.header {
  background-color: #ff8000; /* オレンジ色 */
  padding: 10px;
}

.header h1 {
  color: #fff;
  text-align: center;
}

/* メンテナンス中メッセージのスタイル */
.maintenance-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}
